   <!-- .row -->

                   

   <div class="row">
    <!--<div class="col-md-6 col-lg-8 col-sm-12">-->
    <div class="col-sm-12">
    
        <div class="panel">
        <div class="panel-heading">MANAGE USERS</div>
        <div class="table-responsive">
            <table class="table table-hover manage-u-table">
                <thead>
                    <tr>
                     <!--   <th width="70" class="text-center">#</th>-->
                        <th>PROFILE</th>
                        <th>NAME</th>
                        <th>DEPARTMENT</th>
                        <th>EMAIL</th>
                        <th>CLASS</th>
                        <th>MANAGE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">1</td>
                        <td><img src="../plugins/images/users/sonu.jpg" class="img-circle" width="30" /></td>
                        <td><span class="font-medium">Daniel Kristeen</span></td>
                        <td>Visual Designer
                            <br/><span class="text-muted">Past : teacher</span></td>
                        <td>daniel@website.com
                            </br><span class="text-muted">999 - 444 - 555</span></td>
                       
                        <td>
                            <select class="form-control">
                                <option>ACMP 102</option>
                                <option>Admin</option>
                                <option>User</option>
                                <option>Subscriber</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="icon-trash"></i></button>
                            <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-pencil-alt"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                         <td><img src="../plugins/images/users/sonu.jpg" class="img-circle" width="30" /></td>
                        <td><span class="font-medium">Daniel Kristeen</span></td>
                        <td>Visual Designer
                            </br><span class="text-muted">Past : teacher</span></td>
                        <td>daniel@website.com
                            </br><span class="text-muted">999 - 444 - 555</span></td>
                        
                        <td>
                            <select class="form-control">
                                <option>COMP 302</option>
                                <option>Admin</option>
                                <option>User</option>
                                <option>Subscriber</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="icon-trash"></i></button>
                            <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-pencil-alt"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                         <td><img src="../plugins/images/users/sonu.jpg" class="img-circle" width="30" /></td>
                        <td><span class="font-medium">Daniel Kristeen</span></td>
                        <td>Visual Designer
                            <br/><span class="text-muted">Past : teacher</span></td>
                        <td>daniel@website.com
                            <br/><span class="text-muted">999 - 444 - 555</span></td>
                        
                        <td>
                            <select class="form-control">
                                <option>PHY 312</option>
                                <option>Admin</option>
                                <option>User</option>
                                <option>Subscriber</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="icon-trash"></i></button>
                            <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-pencil-alt"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">4</td>
                         <td><img src="../plugins/images/users/sonu.jpg" class="img-circle" width="30" /></td>
                        <td><span class="font-medium">Daniel Kristeen</span></td>
                        <td>Visual Designer
                            </br><span class="text-muted">Past : teacher</span></td>
                        <td>daniel@website.com
                            </br><span class="text-muted">999 - 444 - 555</span></td>
                        
                        <td>
                            <select class="form-control">
                                <option>COMP 305</option>
                                <option>Admin</option>
                                <option>User</option>
                                <option>Subscriber</option>
                            </select>
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="icon-trash"></i></button>
                            <button type="button" class="btn btn-info btn-outline btn-circle btn-lg m-r-5"><i class="ti-pencil-alt"></i></button>
                        </td>
                    </tr>
               
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>